{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-md-center text-xl-left">BARRIOS GRAVES</h4>
      <p class="card-description">
        Seleccione la cantidad de los barrios más necesitados:
      </p>
      <form class="forms-sample" action="/barrios_graves/" method="POST"> {% csrf_token %}
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Cantidad" name="cantidad">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <button type="submit" class="btn btn-primary mr-2">Buscar</button>
            </div>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><center>Barrio</center></th>
              <th><center>Familias Estimadas</center></th>
              <th><center>Paquetes</center></th>
              <th><center>Paquetes por Familia</center></th>
              <th><center>Localidad</center></th>
              <th><center>Provincia</center></th>
            </tr>
          </thead>
          <tbody>
            
            
            {% for barrio in barrios %}
              <tr>
                <td><center>{{ barrio.nombre }}</center></td>
                  <td><center>{{ barrio.cant_familias }}</center></td>
                  <td><center>{{ barrio.cant_paquetes }}</center></td>                
                  <td><center>{{ barrio.p4f }}</center></td>                
                  <td><center>{{ barrio.localidad }}</center></td>
                  <td><center>{{ barrio.provincia }}</center></td>
              </tr>
            {% endfor %}
              

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
          

{% endblock content %}


