{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-md-center text-xl-left">BARRIOS</h4>
      <p class="card-description">
        Puede filtrar por Localidad y Provincia:
      </p>
      <form class="forms-sample">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Localidad">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Provincia">
            </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mr-2">Filtrar</button>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              
              <th><center>Barrio</center></th>
              <th><center>Familias Estimadas</center></th>
              <th><center>Paquetes</center></th>
              <th><center>Localidad</center></th>
              <th><center>Provincia</center></th>
              <th><center>Opciones</center></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>
            <tr>
              <td><center>Casaca</center></td>
              <td><center>20</center></td>
              <td><center>45</center></td>
              <td><center>La Plata</center></td>
              <td><center>Buenos Aires</center></td>
              <td>
                <center>
                  <button type="button" class="btn btn-primary btn-icon btn-rounded">
                    <i class="ti-more-alt btn-icon-prepend"></i>
                  </button>
                </center>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock content %}