{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>BARRIOS POPULARES</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}" />
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  <!-- endinject -->
  <!--<link rel="shortcut icon" href="images/favicon.png" /> -->
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="
            text-center
            navbar-brand-wrapper
            d-flex
            align-items-center
            justify-content-center
          ">
        <!--<a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}"><img src="images/logo.svg" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img src="images/logo-mini.svg" alt="logo"/></a>-->
        <a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}">
          <!-- <i class="ti-world text-primary"></i> -->
          BARRIOS
        </a>
      </div>
      <div class="
            navbar-menu-wrapper
            d-flex
            align-items-center
            justify-content-end
          ">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
              <i class="ti-direction menu-icon"></i>
              <span class="menu-title">Barrios</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'localidades' %}">
              <i class="ti-pin menu-icon"></i>
              <span class="menu-title">Localidades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'barrios_graves' %}">
              <i class="ti-alert menu-icon"></i>
              <span class="menu-title">Barrios Graves</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ti-power-off menu-icon"></i>
              <span class="menu-title">Cerrar Sesión</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">


          {% block content %}

          {% endblock content %}


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="
                d-sm-flex
                justify-content-center justify-content-sm-between
              ">
            <span class="
                  text-muted
                  d-block
                  text-center text-sm-right
                  d-sm-inline-block
                ">Copyright © ONIET 2021</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>