{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-md-center text-xl-left">LOCALIDADES</h4>
      <p class="card-description">
        Listado de todas las localidades de la Nación Argentina.
      </p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              
              <th><center>Localidad</center></th>
              <th><center>Familias Estimadas</center></th>
              <th><center>Paquetes Totales</center></th>
              <th><center>Paquetes por Familia</center></th>
              <th><center>Provincia</center></th>
            </tr>
          </thead>
          <tbody>
            
            
            {% for localidad in localidades %}
              <tr>
                <td><center>{{ localidad.nombre }}</center></td>
                <td><center>{{ localidad.familias }}</center></td>
                <td><center>{{ localidad.paquetes }}</center></td>
                <td><center>{{ localidad.p4f }}</center></td>
                <td><center>{{ localidad.provincia }}</center></td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
          
 
{% endblock content %}
